<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #usuarioForm="ngForm" autocomplete="on">
      <div class="form-group row">
        <label form="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.nombre"
            name="nombre"
            required #nombre="ngModel"
          />
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
             El campo nombre no puede estar vacío
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label form="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.apellido"
            name="apellido"
            required #apellido="ngModel"
          />
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
             El campo apellido no puede estar vacío
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label form="usuario" class="col-form-label col-sm-2"
          >Nombre de usuario</label
        >
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.usuario"
            name="usuario"
            required #nombreusu="ngModel"
          />
           <div class="alert alert-danger" *ngIf="nombreusu.invalid && (nombreusu.dirty || nombreusu.touched)">
            <div *ngIf="nombreusu.errors.required">
             El campo Nombre de usuario no puede estar vacío
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label form="cargo" class="col-form-label col-sm-2">Cargo</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.cargo"
            name="cargo"
            required #cargo="ngModel"
          />
             <div class="alert alert-danger" *ngIf="cargo.invalid && (cargo.dirty || cargo.touched)">
            <div *ngIf="cargo.errors.required">
             El campo cargo no puede estar vacío
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label form="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.email"
            name="email"
            required #email="ngModel" email
          />
              <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
             El campo email no puede estar vacío
            </div>
            <div *ngIf="email.errors.email">
              El campo email debe tener el formato correcto
             </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label form="perfil" class="col-form-label col-sm-2">Perfil</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.perfil"
            name="perfil" 
            required #perfil="ngModel"
          />
          <div class="alert alert-danger" *ngIf="perfil.invalid && (perfil.dirty || perfil.touched)">
            <div *ngIf="perfil.errors.required">
             El campo perfil no puede estar vacío
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label form="password" class="col-form-label col-sm-2">Password</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="usuario.password"
            name="password" type="password" #password="ngModel"
          />
          <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">
             El campo password no puede estar vacío
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="row col-sm-6">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="!usuario.id; else elseBlock"
            [disabled]="!usuarioForm.form.valid"
          >
            Crear
          </button>
          <div class="col-sm-6">  
            <button class="btn btn-primary" role="button" [routerLink]= "['/usuarios']">Volver</button>
          </div>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary"
              role="button"
              (click)="update()"
              [disabled]="!usuarioForm.form.valid"
            >
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
